Repository mapoio/hyperion, changes with the labels that .github/labeler.yml gives for each.
All labels: component: hyperconfig, component: hyperlog, component: hyperctx, component: hyperdb, component: hypercache, component: hyperweb, component: hypergrpc, component: hyperhttp, component: hyperstore, component: hypercrypto, component: hypererror, component: hypervalidator, type: documentation, type: tests, type: ci, type: dependencies

.github/labeler.yml:

# Label configuration for auto-labeling PRs based on file changes

# Core components
'component: hyperconfig':
  - pkg/hyperconfig/**/*
  - docs/stories/*hyperconfig*

'component: hyperlog':
  - pkg/hyperlog/**/*
  - docs/stories/*hyperlog*

'component: hyperctx':
  - pkg/hyperctx/**/*
  - docs/stories/*hyperctx*

'component: hyperdb':
  - pkg/hyperdb/**/*
  - docs/stories/*hyperdb*

'component: hypercache':
  - pkg/hypercache/**/*
  - docs/stories/*hypercache*

'component: hyperweb':
  - pkg/hyperweb/**/*
  - docs/stories/*hyperweb*

'component: hypergrpc':
  - pkg/hypergrpc/**/*
  - docs/stories/*hypergrpc*

'component: hyperhttp':
  - pkg/hyperhttp/**/*
  - docs/stories/*hyperhttp*

'component: hyperstore':
  - pkg/hyperstore/**/*
  - docs/stories/*hyperstore*

'component: hypercrypto':
  - pkg/hypercrypto/**/*
  - docs/stories/*hypercrypto*

'component: hypererror':
  - pkg/hypererror/**/*
  - docs/stories/*hypererror*

'component: hypervalidator':
  - pkg/hypervalidator/**/*
  - docs/stories/*hypervalidator*

# Change types
'type: documentation':
  - docs/**/*
  - '**/*.md'
  - README.md
  - CHANGELOG.md
  - CONTRIBUTING.md

'type: tests':
  - '**/*_test.go'
  - '**/integration_test.go'

'type: ci':
  - .github/**/*
  - .golangci.yml
  - Makefile

'type: dependencies':
  - go.mod
  - go.sum

# Size labels
'size: small':
  - changed-files:
    - count: 1-10

'size: medium':
  - changed-files:
    - count: 11-50

'size: large':
  - changed-files:
    - count: 51-100

'size: x-large':
  - changed-files:
    - count: 101-500

fix(hyperconfig): resolve golangci-lint issues for CI compliance
  pkg/hyperconfig/config.go
  pkg/hyperconfig/integration_test.go
  pkg/hyperconfig/viper.go
  pkg/hyperconfig/viper_test.go
Labels: component: hyperconfig, type: tests

fix(hyperconfig): resolve data race in Watch implementation
  pkg/hyperconfig/viper.go
Labels: component: hyperconfig

fix(hyperconfig): fix test data races with atomic operations
  pkg/hyperconfig/integration_test.go
Labels: component: hyperconfig, type: tests

fix: resolve CI compatibility issues
  go.mod
  go.sum
  pkg/hyperconfig/integration_test.go
Labels: component: hyperconfig, type: tests, type: dependencies

refactor(hyperconfig): reduce cognitive complexity and fix linter issues
  pkg/hyperconfig/viper.go
Labels: component: hyperconfig
